.panel-info {
    border-color: #ddd;
}

.panel-info > .panel-heading {
    background-color: #f5f5f5;
    border-color: #bce8f1;
    color: #333;
}

.btn-block.small{
    margin: auto;
    width: 30%;
}